.app__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5vw;
}

.app__navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__info {
  display: flex;
  padding: 20px 5vw;
  justify-content: space-between;
}

.app__infoLeft {
  flex: 1;
}

.app__infoRight {
  flex: 0.2;
  padding: 20px 0 20px 20px;
  justify-content: center;

}

@media (max-width:990px){
  .app__info {
    flex-direction: column-reverse;
  }

  .app__infoLeft,
  .app__infoRight {
    flex:1;
  }
  .app__infoRight {
    margin-top: 20px;
    padding: 0;
  }
}