.list {
    margin-top: 20px;
    overflow: auto;
    color: #6a5d5d;
    background-color: white;
    height: 190px; 
    border-radius: 10px;
  }
  
  .list tr {
    display: flex;
    justify-content: space-between;
  }
  
  .list td {
    padding: 0.5rem;
    border: none;
  }

  .list strong:hover {
    cursor: pointer;
  }
  
  .list tr:nth-of-type(odd) {
    background-color: #f3f2f8;
  }